<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- sebelah kiri -->
<nav class="navbar navbar-expand-lg sticky-top bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="admin.php" style="color: rgb(214, 248, 231);" id="font">PICTKLISE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="admin.php" style="color: rgb(214, 248, 231);">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="album.php" style="color: rgb(214, 248, 231);">Album</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="foto.php" style="color: rgb(214, 248, 231);">upload foto</a>
        </li>
      </ul>
      <form action="admin.php" method="POST" class="mx-sm-1">
        <button type="submit" class="btn btn-outline-danger" name="logout" style="color: rgb(214, 248, 231) ;">Log Out</button>
      </form>
    </div>
  </div>
</nav>
</body>
</html>